* {
  box-sizing: border-box;
}
body {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #FFB347 ;
  color: #5C4033;
  text-align: center;
}
.logo {
  width: 250px;
  border-radius: 12px;
}
.hand--number {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.each-game {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content:space-evenly;
}
.each-game li {
  display: flex;
  gap: 15px;
}
.fist--sign {
  width: 40px;
}