* {
  box-sizing: border-box;
}
img {
  display: block;
}
body {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #FFB347 ;
  color: #5C4033;
  text-align: center;
}
.logo {
  margin: 10px auto;
  width: 250px;
  border-radius: 12px;
}
.hand--number {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.ok--button {
    background-color: #28A745;
  padding: 3px 6px;
  border-radius: 6px;
  font-weight: 500;
  font-size: 12px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.ok--button:hover {
  cursor: pointer;
    background-color: #218838;
}
.each-game {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(255, 0, 0, 0.43);
  border: 1px solid black;
  border-radius: 12px;
  list-style: none;
  padding: 20px 0;
  display: flex;
  gap: 50px;
}
.each-game li {
  display: flex;
  gap: 15px;
}
.fist--sign {
  width: 40px;
}
.fist--sign:hover {
  cursor: pointer;
}

.warning-sign {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 600;
}

.player-point, .total-played {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.ref-button {
  background-color: #28A745;
  margin-top: 10px;
  padding: 20px 40px;
  border-radius: 12px;
  font-weight: 500;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.ref-button:hover {
  cursor: pointer;
  background-color: #218838;
}